<nav
  class="container m-auto mat-elevation-z1 flex items-center justify-between"
>
  <a mat-button color="primary">DEMO</a>
  <div class="flex items-center ml-3">
    <button
      mat-button
      (click)="toggleLib()"
      class="mdl-button mdl-button--raised mdl-button--colored"
    >
      Highlighter
    </button>
    <mkh-multi-keywords-highlighter
      class="custom-lib"
      (keywordListOutput)="onKeywordListOutput($event)"
    ></mkh-multi-keywords-highlighter>
    <router-outlet name="multi-keywords-highlighter"></router-outlet>
    <button mat-icon-button color="primary">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</nav>
