<mat-card>
  <mat-card-content>
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span
        class="badge badge-secondary"
        >New</span
      >
    </h2>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span
        class="badge badge-secondary"
        >Viverra</span
      >
    </h3>
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span
        class="badge badge-secondary"
        >Maximus</span
      >
    </h4>
    <h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span
        class="badge badge-secondary"
        >Quam</span
      >
    </h5>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span
        class="badge badge-secondary"
        >Fusce</span
      >
    </h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare sem
      sit amet dapibus sodales. Quisque porta viverra massa, vel tempus ipsum
      hendrerit in. Phasellus pulvinar metus erat, non commodo lectus gravida
      et. Proin nec est maximus, laoreet nisl a, scelerisque eros. Fusce sit
      amet hendrerit metus, a varius dolor. Pellentesque aliquam, ligula non
      sollicitudin fringilla, purus mi varius sapien, vitae semper quam tortor
      nec nulla. Ut facilisis dui non eros semper semper. Phasellus pretium
      lectus in sem bibendum, quis viverra augue posuere. Aliquam malesuada quam
      eget nisl euismod posuere. Phasellus sed lectus a metus auctor auctor eu
      non dui. Nunc tincidunt tristique malesuada. Integer dictum viverra
      ultricies. In eros eros, ultrices ac luctus sit amet, elementum id libero.
      Duis sed eros nibh. In eu imperdiet nulla.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      (matSortChange)="sortData($event)"
    >
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Position</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Weight</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.weight }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Symbol</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.symbol }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[10, 15, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <ng-container
      *ngComponentOutlet="
        dynamicComponent;
        injector: dynamicComponentInjector;
        content: dynamicComponentContent
      "
    >
    </ng-container>
  </mat-card-content>
</mat-card>
